extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let hotelsid = toShow._id
    - let hotels_location = toShow.hotels_location
    - let hotels_numrooms = toShow.hotels_numrooms
    - let hotels_rating = toShow.hotels_rating
    - let actionid = "/resource/hotels/" + hotelsid
    script.
      let actionid = "#{actionid}"
    div
      div.row
        div(class='hotelsAttr mr-3') hotels ID is:
        div #{hotelsid}
      div.row
        div(class='hotelsAttr mr-3') hotels location is:
        div #{hotels_location}
      div.row
        div(class='hotelsAttr mr-3') Number of rooms in hotels is:
        div #{hotels_numrooms}
      div.row
        div(class='hotelsAttr mr-3') hotels rating is:
        div #{hotels_rating}
      button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
      button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
    script.
      function cancel() {
        // Go back to the home page for the hotels collection
        window.location.href='/hotels'
      }
    script.
      function deleteOnid() {
        console.log("starting delete")
        // delete first
        fetch(actionid, {
          method: 'DELETE' // Don't need a body for the delete
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Delete succeded")
          window.location.href='/hotels'
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Delete failed " + error )
        });
      }
